<ion-view title="Animais">
  <ion-content>
      
      <div class="list card">
        <ion-list>
            <ion-item ng-repeat="animal in animals" href="#/savepet/animal/{{animal.id}}">
                <div class="item item-avatar">
                    <img src="img/ionic.jpg">
                        <h2>{{animal.name}}</h2>
                        <p>Subtitulo</p>
                    </div>

                    <div class="item item-image">
                        <img src="img/{{animal.img}}">
                    </div>

                    <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" href="#">
                        <i class="icon ion-android-hand"></i>
                        Eu quero!
                    </a>
                    <a class="tab-item" href="#">
                        <i class="icon ion-share"></i>
                        Compartilhar
                    </a>
                </div>
            </ion-item>
        </ion-list>
    </div>
      
<!--
    <ion-list>
      <ion-item ng-repeat="friend in friends" type="item-text-wrap" href="#/tab/friend/{{friend.id}}">
        {{friend.name}}
      </ion-item>
    </ion-list>
-->
  </ion-content>
</ion-view>
