<ion-view title="Save Pet">
  <ion-content has-header="true" padding="true">
      <h1>ONGs</h1>
      <div class="list">
        <label class="item item-select">
            <span class="input-label">Assunto</span>
            <select ng-model="selectedOng" ng-options="ong as ong.name for ong in ongs">
                <option>Selecione...</option>
                <option>
                    {{ong.name}}
                </option>
            </select>
        </label>
        <label class="item item-input">
          <span class="input-label">Descrição</span>
          <textarea id="descriptionOng" ng-model="ongDescription" disabled style="width: 60%;"></textarea>
        </label>
      </div>
  </ion-content>
</ion-view>
