<ion-view title="Account">
  <ion-content class="padding">    
    <div ng-show="login">
        <form ng-submit="doLogin()">
          <div class="list">
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="text" ng-model="loginData.username">
            </label>
            <label class="item item-input">
                <span class="input-label">Senha</span>
                <input type="password" ng-model="loginData.password">
            </label>
            <label class="item">
                <button class="button button-block button-positive" type="submit">Entrar</button>
            </label>
          </div>
        </form>
        <div class="item">
            <a href="#/savepet/account"><button class="button button-positive" type="button">Esqueceu a senha?</button></a>
            <a href="#/savepet/register"><button class="button button-positive" type="button">Cadastrar-se</button></a>
        </div>
    </div>
  </ion-content>
</ion-view>
