<ion-view class="title" title="Save Pet">
  <ion-content class="padding">
<!--      <a href="#/savepet/reports">-->
      <a ui-sref="reports">
        <button class="button button-block button-positive">
            Relatório de Ocorrências
        </button>
      </a>
      
      <a href="#/savepet/animal/list">
          <button class="button button-block button-positive icon-google-wallet">
            Animais
          </button>
      </a>
      
      <a href="#/savepet/ongs">
          <button class="button button-block button-positive">
            ONGs
          </button>
      </a>
  </ion-content>
</ion-view>